* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.menubar {
    display: flex;
    background-color: black;
    padding: 0.1rem 0;
}

.menubar>button {
    background: none;
    font-size: x-large;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
}

.menubar>button:hover {
    background-color: #555;
}

.editorTab {
    resize: none;
    padding: 0;
    border: 1px solid #555;
    background: black;
    color: #ccc;
    width: 100%;
    flex: 1 1 0;
    font-size: 2rem;
}

.editorTab:focus-visible{
    outline: none;
}

#outputWindow{
    display: flex;
    flex-direction: column;
}

#outputWindow h3{
    background: black;
    color: #ccc;
    margin: 0;
    padding: 1rem;
}

#outputWindow #output{
    resize: none;
    padding: 0;
    border: 1px solid #555;
    width: 100%;
    flex: 1 1 20vh;
    font-size: 2rem;
    background: black;
    color: #ccc;
}